.store-content.page-cart[data-v-e6523e26] {
    padding-top: 40px;
}
.store-content[data-v-e6523e26] {
    clear: both;
    width: 1220px;
    min-width: 600px;
    padding: 0 0 25px;
    margin: 0 auto;
}
.store-content .gray-box[data-v-e6523e26] {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .14);
    box-shadow: 0 3px 8px -6px rgba(0, 0, 0, .1);
}
.store-content .gray-box .title[data-v-e6523e26] {
    padding-left: 30px;
    position: relative;
    z-index: 10;
    height: 60px;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 1px 7px rgba(0,0,0,.06);
    background: #f3f3f3;
    background: linear-gradient(#fbfbfb, #ececec);
    line-height: 60px;
    font-size: 18px;
    color: #333;
}
.cart-e[data-v-e6523e26] {
    margin: 0 auto;
    background: url("/image/cart-empty_@2x.png") no-repeat;
    width: 275px;
    height: 300px;
    color: #8d8d8d;
}
.store-content .ui-cart[data-v-e6523e26] {
    padding-bottom: 91px;
}
.store-content .ui-cart .cart-table-title[data-v-e6523e26] {
    position: relative;
    z-index: 1;
    line-height: 38px;
    height: 38px;
    padding: 0 0 0 30px;
    font-size: 12px;
    background: #eee;
    border-bottom: 1px solid #dbdbdb;
    border-bottom-color: rgba(0,0,0,.08);
}
.store-content .ui-cart .cart-table-title span[data-v-e6523e26] {
    width: 137px;
    float: right;
    text-align: center;
    color: #838383;
}
.store-content .ui-cart .cart-table-title .name[data-v-e6523e26] {
    float: left;
    text-align: left;
}
.store-content .ui-cart .name a[data-v-e6523e26] {
    color: #333;
    font-size: 16px;
}
.store-content .ui-cart .name[data-v-e6523e26] {
    width: 380px;
    margin-left: 20px;
    color: #323232;
    display: table;
}
.store-content .ui-cart .cart-group.divide .cart-top-items:first-child .cart-items[data-v-e6523e26] {
    border-top: none;
}
.store-content .ui-cart .cart-items[data-v-e6523e26] {
    position: relative;
    height: 140px;
    margin-left: 74px;
}
.store-content .ui-cart .items-choose[data-v-e6523e26] {
    position: absolute;
    left: -74px;
    top: 0;
    width: 74px;
    height: 20px;
    padding: 60px 0 0 31px;
    font-size: 12px;
    color: #999;
}
.page-cart .blue-checkbox-new.checkbox-disable[data-v-e6523e26],
.page-cart .blue-checkbox-new.checkbox-on[data-v-e6523e26],
.page-cart .blue-checkbox-new[data-v-e6523e26] {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    background: url("/image/（PNG 图像，20x60 像素）.png") no-repeat 0 -20px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    vertical-align: middle;
}
.page-cart .blue-checkbox-new.checkbox-on[data-v-e6523e26] {
    background: url("/image/（PNG 图像，20x60 像素）.png") no-repeat 0 0;
}
.page-cart .blue-checkbox-new[data-v-e6523e26] {
    float: left;
    margin-right: 9px;
}
.store-content .ui-cart .items-thumb[data-v-e6523e26] {
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.fl {
    float: left;
}
.store-content .ui-cart img[data-v-e6523e26] {
    width: 80px;
    height: 80px;
}
.store-content .ui-cart .cart-items .items-thumb > a [data-v-e6523e26] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 1px solid #fff;
    border-radius: 3px;
    border: 0 solid hsla(0,0%,100%,.1);
    box-shadow: inset 0 0 0 1px rgba(0,0,0,.06);
}
.store-content .ui-cart .name-table[data-v-e6523e26] {
    display: table-cell;
    vertical-align: middle;
    height: 140px;
}
.store-content .ui-cart .cart-items .operation[data-v-e6523e26] {
    padding: 58px 0 0;
    font-size: 12px;
    line-height: 24px;
}
.store-content .ui-cart .cart-items .operation .items-delete-btn[data-v-e6523e26] {
    display: block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    color: #c2c2c2;
    background: url("/image/（JPEG 图像，48x120 像素）.jpg");
    background-size: 100% auto;
    transition: none;
}
.store-content .ui-cart .cart-items .operation .items-delete-btn[data-v-e6523e26]:hover {
    background-position: 0 -36px;
}
.store-content .ui-cart .cart-items .subtotal[data-v-e6523e26] {
    font-weight: 700;
}
.select .down[data-v-d10cb02a] {
    background-position: 0 -60px;
}
.select[data-v-d10cb02a] {
    height: 40px;
    padding-top: 4px;
}
.select .down.down-disabled[data-v-d10cb02a] {
    background-position: 0 -300px;
    cursor: not-allowed;
}
.select .down.down-disabled[data-v-d10cb02a]:hover {
    background-position: 0 -300px;
    cursor: not-allowed;
}
.select .down[data-v-d10cb02a],
.select .up[data-v-d10cb02a] {
    background: url("image/cart-updown_8303731e15@2x.7d9dac6.jpg") no-repeat;
    overflow: hidden;
    float: left;
    width: 34px;
    height: 37px;
    background-size: 100% auto;
    line-height: 40px;
    text-indent: -9999em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.store-content .ui-cart .cart-items .item-cols-num[data-v-e6523e26],
.store-content .ui-cart .cart-items .operation[data-v-e6523e26],
.store-content .ui-cart .cart-items .price1[data-v-e6523e26],
.store-content .ui-cart .cart-items .subtotal[data-v-e6523e26] {
    overflow: hidden;
    float: right;
    width: 137px;
    text-align: center;
    color: #666;
    line-height: 140px;
}
.store-content .ui-cart .cart-items .item-cols-num[data-v-e6523e26] {
    text-align: center;
    color: #666;
    line-height: 140px;
}
.select .num[data-v-d10cb02a] {
    position: relative;
    overflow: hidden;
    float: left;
    width: 36px;
    height: 18px;
    margin: 7px 0 0;
    border: none;
    border-radius: 3px;
    line-height: 18px;
    text-align: center;
    font-size: 14px;
}
.select input.show[data-v-d10cb02a] {
    visibility: visible;
}
.select input[data-v-d10cb02a] {
    width: 100%;
    text-align: center;
}
.select input[data-v-d10cb02a] {
    z-index: 10;
    width: 36px;
    height: 18px;
    background-color: #fff;
    line-height: 18px;
    font-size: 14px;
    padding: 0;
    color: #666;
    visibility: hidden;
    position: relative;
    border: none;
}
.select .up[data-v-d10cb02a] {
    margin: 0;
    background-position: 0 0;
}
.select .up[data-v-d10cb02a]:hover {
    background-position: 0 -120px;
}
.page-cart .fix-bottom[data-v-e6523e26] {
    height: 90px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-position: 50%;
    background: #fdfdfd;
    background: linear-gradient(#fdfdfd,#f9f9f9);
    border-top: 1px solid #e9e9e9;
    box-shadow: 0 -3px 8px rgba(0,0,0,.04);
}
.page-cart .cart-bar-operation[data-v-e6523e26] {
    float: left;
    padding: 35px 26px;
    font-size: 12px;
}
.page-cart .shipping[data-v-e6523e26] {
    float: right;
    padding: 20px 30px;
}
.page-cart .choose-all[data-v-e6523e26],
.page-cart .delete-choose-goods[data-v-e6523e26],
.page-cart .selected-count[data-v-e6523e26] {
    float: left;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
}
.page-cart .cart-bar-operation[data-v-e6523e26] {
    font-size: 12px;
}
.page-cart .choose-all[data-v-e6523e26],
.page-cart .delete-choose-goods[data-v-e6523e26],
.page-cart .selected-count[data-v-e6523e26] {
    float: left;
    height: 20px;
    line-height: 20px;
    cursor: pointer;
    position: relative;
}
.page-cart .delete-choose-goods[data-v-e6523e26] {
    position: relative;
    margin-left: 21px;
    color: #bbb;
}
.page-cart .big-main-btn[data-v-e6523e26] {
    float: right;
    height: 48px;
}
.page-cart .shipping-box[data-v-e6523e26] {
    display: inline-block;
    padding-top: 1px;
    margin-right: 10px;
}
.page-cart .shipping-total[data-v-e6523e26]:first-child {
    border: none;
}
.page-cart .shipping-total.shipping-num[data-v-e6523e26] {
    text-align: right;
}
.page-cart .shipping-total[data-v-e6523e26] {
    display: inline-block;
    border-left: 1px solid #e1e1e1;
    padding: 0 20px;
}
.page-cart .shipping-total h4[data-v-e6523e26] {
    color: #323232;
}
.page-cart .shipping-total h4 i[data-v-e6523e26],
.shipping-total h4 span[data-v-e6523e26]{
    color: #d44d44;
}
.page-cart .shipping-total h4 > i[data-v-e6523e26] {
    font-size: 18px;
    font-weight: 700;
}
.page-cart .shipping-total h5[data-v-e6523e26] {
    color: #959595;
}
.page-cart .shipping-total.shipping-num i[data-v-e6523e26] {
    width: 28px;
    display: inline-block;
    text-align: center;
}